<!doctype html>
<html>
<!--
Author:     Oktawiusz Wilk
Date:       10/04/2016
License:    GPL
Purpose:    This file forms the base to be extended by other HTML documents.
-->
<head>
    <link rel="stylesheet" href="static/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="static/bower_components/angular-chart.js/dist/angular-chart.min.css" type="text/css">
    <link rel="stylesheet" href="static/bower_components/AngularJS-Toaster/toaster.min.css" type="text/css">
    <link rel="stylesheet" href="static/style.css" type="text/css">
    <script src="static/bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="static/bower_components/Chart.js/Chart.min.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-chart.js/dist/angular-chart.min.js" type="text/javascript"></script>
    <script src="static/bower_components/angular-smart-table/dist/smart-table.min.js"></script>
    <script src="static/bower_components/AngularJS-Toaster/toaster.min.js"></script>
    <script src="static/bower_components/angular-confirm-modal/angular-confirm.js"></script>
    <script src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="static/bower_components/socket.io/socket.js"></script>
    <script src="static/main.js" type="text/javascript"></script>
    <script src="static/services/socket.js" type="text/javascript"></script>
    <script src="static/services/utils.js" type="text/javascript"></script>
    <script src="static/models/jobModel.js" type="text/javascript"></script>
    <script src="static/models/mountModel.js" type="text/javascript"></script>
    <script src="static/models/diskModel.js" type="text/javascript"></script>
    <script src="static/models/metricModel.js" type="text/javascript"></script>
    <script src="static/models/backupModel.js" type="text/javascript"></script>
    <script src="static/models/nodeModel.js" type="text/javascript"></script>
    <script src="static/models/masterModel.js" type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ title }} </title>
    {% block head %} {% endblock %}
</head>

<body ng-app="com.itcarlow.okwilk.diskimage">
    <div class="container-fluid">
        <div class="col-xs-12">
            <nav class="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">
                            <i class="glyphicon glyphicon-dashboard"></i> Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="/backups">
                            <i class="glyphicon glyphicon-hdd"></i> Backups
                        </a>
                    </li>
                    <li>
                        <a href="/nodes">
                            <i class="glyphicon glyphicon-briefcase"></i> Nodes
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category,message in messages %}
                    <div class="alert alert-{{ category }} fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {% if 'danger' in category %}
                        <strong class="text-capitalize">Error:</strong> {{ message }} {% else %}
                        <strong class="text-capitalize">{{ category }}:</strong> {{ message }} {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="container-fluid">
        {% block body %} {% endblock %}
        <toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>
    </div>
</body>

</html>
