{% extends "base.html" %}
{% block head %}
    <script src="../static/controllers/diskListCtrl.js" type="text/javascript"></script>
    <script src="../static/controllers/jobListCtrl.js" type="text/javascript"></script>
    <script src="../static/controllers/statsCtrl.js" type="text/javascript"></script>
    <script src="../static/controllers/createBackupModalCtrl.js" type="text/javascript"></script>
    <script src="../static/controllers/jobDetailsModalCtrl.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
    {% raw %}
    <div class="row hidden-xs" ng-controller="StatsCtrl">
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    CPU Utilisation <span class="pull-right">(sample)</span>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data1"
                      chart-labels="labels" chart-legend="true" chart-series="series"
                      chart-click="onClick" chart-options="options">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Backup Disk I/O Utilisation<span class="pull-right">(sample)</span>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data2"
                      chart-labels="labels" chart-legend="true" chart-series="series"
                      chart-click="onClick" chart-options="options">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Backup Disk Space Utilisation<span class="pull-right">(sample)</span>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data3"
                      chart-labels="labels" chart-legend="true" chart-series="series"
                      chart-click="onClick" chart-options="options">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    Node Utilisation<span class="pull-right">(sample)</span>
                </div>
                <div class="panel-body">
                    <canvas id="line" class="chart chart-line" chart-data="data4"
                      chart-labels="labels" chart-legend="true" chart-series="series"
                      chart-click="onClick" chart-options="options">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-lg-3">
            <div ng-controller="DiskListCtrl" ng-include="'static/components/diskList.html'"></div>
        </div>
        <div class="col-sm-8 col-lg-9">
            <div ng-controller="JobListCtrl" ng-include="'static/components/jobList.html'"></div>
        </div>
    {% endraw %}

{% endblock %}
