{% extends "base.html" %}
{% block head %}
    <script src="../static/diskInfoCtrl.js" type="text/javascript"></script>
    <script src="../static/jobInfoCtrl.js" type="text/javascript"></script>
{% endblock %}
{% block body %}
    {% raw %}
    <div ng-app="com.itcarlow.okwilk.diskimage">
        <div class="row" ng-controller="DiskInfoCtrl" ng-include="'static/components/diskinfo.html'"></div>
        <div class="row" ng-controller="JobInfoCtrl" ng-include="'static/components/jobinfo.html'"></div>
    </div>
    {% endraw %}

{% endblock %}
