<!--
Author:     Oktawiusz Wilk
Date:       10/04/2016
License:    GPL
Purpose:    This file provides display for the backup creation modal.
-->
<div class="modal-header">
    <h3 class="inline-title">{{title}}</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form" role="form" novalidate>
        <div class="form-group">
            <label class="control-label col-sm-3" for="name">Job name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter name"
                       ng-model="backup.job_id" ng-minlength="1" ng-maxlength="20" ng-pattern="'[\\w\\d]*'" required>
            </div>
            <div class="col-sm-offset-3 col-sm-9 text-danger" ng-messages="form.name.$error"
                 ng-show="form.name.$dirty || showErrors" role="alert">
                <div ng-message="required">Enter the backup name.</div>
                <div ng-message="minlength">The backup name is too short.</div>
                <div ng-message="maxlength">The backup name is too long.</div>
                <div ng-message="pattern">The entered value is not a valid backup name.</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="disk">Source Disk:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="disk" value="{{disk.name}} @ {{node}}"  disabled="true">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label class="inline-checkbox-label" for="enabled">
                        <input type="checkbox" id="enabled" ng-model="backup.compress">Compress</label>
                    <label class="inline-checkbox-label" for="overwrite">
                        <input type="checkbox" id="overwrite" ng-model="backup.overwrite">Overwrite</label>
                    <label class="inline-checkbox-label" for="rescue">
                        <input type="checkbox" id="rescue" ng-model="backup.rescue">Rescue</label>
                    <label class="inline-checkbox-label" for="force">
                        <input type="checkbox" id="force" ng-model="backup.force">Force</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label class="inline-checkbox-label" for="space_check">
                        <input type="checkbox" id="space_check" ng-model="backup.space_check">Space check</label>
                    <label class="inline-checkbox-label" for="fs_check">
                        <input type="checkbox" id="fs_check" ng-model="backup.fs_check">Filesystem check</label>
                    <label class="inline-checkbox-label" for="crc_check">
                        <input type="checkbox" id="crc_check" ng-model="backup.crc_check">Integrity check</label>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="col-sm-12 text-right">
        <button type="submit" class="btn btn-primary" ng-click="ok(form.$valid)">
            <i ng-show="validating" class="glyphicon glyphicon-cog glyphicon-spin"></i> Run</button>
        <button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
    </div>
</div>
