<div class="modal-header">
    <h3 class="inline-title">{{title}}</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="glyphicon glyphicon-remove"></i></button>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-3" for="name">Name:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="name" placeholder="Enter name" ng-model="node.name" ng-disabled="edit" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="address">Address:</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="address" placeholder="192.168.1.100" ng-model="node.address" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="port">Port:</label>
            <div class="col-sm-9">
                <input type="number" class="form-control" id="port" placeholder="5000" ng-model="node.port" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="ignored">Ignored disks:</label>
            <div class="col-sm-9">
                <div ng-repeat="disk in node.ignored_disks" class="label label-default stackable-label clickable-addon" ng-click="removeIgnoredDisk(disk)">{{disk}} <i class="glyphicon glyphicon-remove"></i></div>
                <div class="input-group">
                    <input type="text" class="form-control" id="ignored" placeholder="sda" ng-model="ignored">
                    <div class="input-group-addon clickable-addon" ng-click="addIgnoredDisk()">Add</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label for="enabled">
                        <input type="checkbox" id="enabled" ng-model="node.enabled"> Enabled</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12 text-right">
                <button type="submit" class="btn btn-primary" ng-click="ok()">Save</button>
                <button type="submit" class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </form>
</div>
