<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            CPU Utilisation <span class="pull-right">(sample)</span>
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="data1"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Backup Disk I/O Utilisation<span class="pull-right">(sample)</span>
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="data2"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Backup Disk Space Utilisation<span class="pull-right">(sample)</span>
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="data3"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Node Utilisation<span class="pull-right">(sample)</span>
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="data4"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
