<!--
Author:     Oktawiusz Wilk
Date:       10/04/2016
License:    GPL
Purpose:    This file provides presentation of the four default charts for the top of the dashboard.
-->
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            CPU Utilisation
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="cpuUtil"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Backup Disk I/O Utilisation
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="diskIOUtil"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            Backup Disk Space Utilisation
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="diskUtil"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>
<div class="col-sm-3">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            RAM Utilisation
        </div>
        <div class="panel-body">
            <canvas id="line" height="100px" class="chart chart-line" chart-data="ramUtil"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-options="options">
            </canvas>
        </div>
    </div>
</div>