<div class="panel panel-default">
    <div class="panel-heading clearfix">
        Disks
        <div class="pull-right">
            <button class="btn btn-default btn-xs" ng-click="update()" ng-disabled="model.disks.status.loading">
                <i ng-if="model.disks.status.loading" class="glyphicon glyphicon-refresh"></i> Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-condenset table-hover" ng-repeat="(node, disks) in model.disks.data">
                <thead>
                    <tr>
                        <th colspan="3">{{node}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="disk in disks">
                        <td class="fit">
                            <span class="label label-default" style="padding:5px" uib-popover="<strong>Size:</strong> {{parseSize(disk.size)}}" popover-placement="right" popover-title='<strong>Disk:</strong> {{disk.name}}' popover-trigger="mouseenter">{{disk.name}}</span>
                        </td>
                        <td>
                            <div class="progress no-margin">
                                <div class="progress-bar partition-bar text-center" ng-repeat="partition in disk.partitions" role="progressbar"
                                     style="width:{{getSubjectivePercentage(partition.size,disk.size)}};" uib-popover="{{partitionInfo(partition)}}"
                                     popover-title='<strong>Partition:</strong> {{partition.name}}' popover-trigger="mouseenter"
                                     popover-append-to-body="true">
                                </div>
                            </div>
                        </td>
                        <td class="fit">
                            <button class="btn btn-primary btn-xs" ng-click="backup(node, disk)" ng-disabled="isDiskBusy(node, disk)">Backup</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
