<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h4 class="inline-title">Jobs</h4>
        <div class="pull-right">
            <button class="btn btn-default" ng-click="update()" ng-disabled="status.loading">
                <i ng-if="status.loading" class="glyphicon glyphicon-refresh"></i> Refresh</button>
        </div>
    </div>
    <div class="panel-body">
        <div ng-repeat="(node,jobs) in jobs" class="container-fluid">
            <div ng-repeat="job in jobs" class="panel panel-{{getProgressType(job.status)}}">
                <div class="panel-heading">
                    <p>
                    <button ng-show="job.status=='running'" class="btn btn-danger pull-right" ng-click="finishJob(node, job.id)"><i class="glyphicon glyphicon-alert"></i> Stop</button>
                    <button ng-show="job.status=='finished'" class="btn btn-success pull-right" ng-click="finishJob(node, job.id)"><i class="glyphicon glyphicon-ok"></i> Close</button>
                    <h5><strong>Job: </strong>{{job.id}}</h5></p>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        <strong>Node: </strong>{{node}}<br/>
                        <strong>Source disk: </strong>{{job.disk}}<br/>
                        <strong>Operation: </strong>{{job.operation}}<br/>
                        <strong>Status: </strong>{{job.status}}<br/>
                        <strong>Start time: </strong>{{job.start_time}}<br/>
                        <strong>End time: </strong>{{job.end_time}}<br/>
                    </div>
                    <div class="col-md-8">
                        <div ng-repeat="partition in job.partitions">
                            <div class="col-md-3">
                                <span class="align-right"><strong>Partition:</strong> {{partition.name}}</span>
                            </div>
                            <div class="col-md-9">
                                <uib-progressbar animate="true" max="100" value="partition.completed" type="{{getProgressType(partition.status)}}">{{partition.completed}}%</uib-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
