<div class="modal-header" ng-controller="new_backup_controller">
    <h3>Start backup {{disk}}</h3>
</div>
<div class="modal-body">
    <form class="horizontal-form">
        <div class="checkbox">
            <label for="admin_user" class="control-label"><input type="checkbox" ng-model="backup.overwrite"/>Overwrite</label>
        </div>
    </form>
   Selected: <b>{{ backup.overwrite }}</b>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
