/* Global Bootsrap Overrides */
nav {
    margin-bottom: 0 !important;
}
div[class^="col"] { /* Reduce gutter between columns */
    padding:5px;
}
.panel {
    margin: 0;
}
.panel > .panel-heading {
    font-weight: bold;
}
.panel > .panel-body {
    padding: 5px;
}


/* Classes for General use */
.button-bar {
    margin: 0.5em 0;
}
.inline-title {
    display:inline-block;
    margin: 0.4em;
}
.stackable-label {
    margin: 0 1px;
    position: relative;
    display: inline-block;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}

/* Table styles */
.table > tbody > tr > td {
     vertical-align: middle;
}
.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}


/* Modal styles */
.modal-header {
    padding: 0 0 0.5em 0;
}
.modal-content {
    padding: 15px 15px 0 15px;
}
.inline-checkbox-label {
    display: inline-block;
    padding: 0.25em 1em;
}
.clickable-addon:hover {
    cursor: pointer;
}
.clickable-addon:active {
    cursor: pointer;
}


/* Chart.js overrides */
.line-legend {
    margin: -1em 0 0 0;
}
