/*
Author:     Oktawiusz Wilk
Date:       10/04/2016
License:    GPL
Purpose:    This file contains additional styles used by all components of the user interface,
            as well as overrides for the bootsrtap components.
*/

/* Global Bootsrap Overrides */
nav {
    margin-bottom: 0 !important;
}
div[class^="col"] { /* Reduce gutter between columns */
    padding:5px;
}
.panel {
    margin: 0;
}
.panel > .panel-heading {
    font-weight: bold;
}
.panel > .panel-body {
    padding: 5px;
}

/* Classes for General use */
.button-bar {
    margin: 0.5em 0;
}
.inline-title {
    display:inline-block;
    margin: 0.4em;
}
.stackable-label {
    margin: 0 1px;
    position: relative;
    display: inline-block;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.partition-bar {
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #e2e2e2; /* light gray */
}

/* Label Styles */
.label-purged {
    background-color: #990000;
}

/* Table styles */
.table > tbody > tr > td {
     vertical-align: middle;
}
.table td.fit, .table th.fit {
    white-space: nowrap;
    width: 1%;
}


/* Modal styles */
.modal-header {
    padding: 0 0 0.5em 0;
}
.modal-content {
    padding: 15px 15px 0 15px;
}
.inline-checkbox-label {
    display: inline-block;
    padding: 0.25em 1em;
}
.clickable-addon.success {
    background: #428bca; /* bootstrap-success colour */
    color: #fff;
}
.clickable-addon:hover {
    cursor: pointer;
}
.clickable-addon:active {
    cursor: pointer;
}
.modal-body.ng-binding.ng-scope {
    white-space: pre-wrap;
}


/* Chart.js overrides */
.line-legend {
    margin: -1em 0 0 0;
}

/* Spinner source: http://jsfiddle.net/chadkuehn/1twpzLz8/ */
.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}